@import "vars";

.footer {
    position: relative;
    height: 445px;
    padding-top: 138px;
    margin-top: 115px;

    background-color: $footer-background-color;
}

.footer__container {
    position: relative;
}

.footer__section__name {
    margin-bottom: 2em;

    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 147.3%;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: $white-color;
}

.footer__inner {
    width: 100%;
    position: relative;
}

.footer__contacts__wrapper {
    width: 50%;
}

.contacts__container {
    display: flex;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 122.49%;
    color: $white-color;
}

.contacts__item {
    width: 40%;
    height: 45px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.contacts__item img, .contacts__item p {
    display: block;
}

/************************************************************/
/************************** 1023 ****************************/
/************************************************************/
@media (max-width: 1023px) {
    .footer { margin-top: 150px; padding-top: 150px; }
    .contacts__container { font-size: 13px; gap: 40px; }
    .contacts__item { gap: 25px }
}

/************************************************************/
/************************** 767 *****************************/
/************************************************************/
@media (max-width: 767px) {
    .footer { 
        margin-top: 45px;
        padding-top: 0;
        height: auto;
        background: none; 
    }
    .footer__inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }
    .footer__contacts__wrapper { width: 100%; }
    .footer__section__name { font-size: 18px; color: $section-name-color; }
    .contacts__container { color: $section-description-color; gap: 35px; }
    .contacts__item { width: 100%;}
}