@import "vars";

.header {
    z-index: 10;
    height: 85px;
}

.logo {
    display: block;
    cursor: pointer;

    font-weight: 900;
    font-size: 18px;
    line-height: 147.3%;

    letter-spacing: 0.115em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo__1 {
    color: $yellow-color;
}

.logo__2 {
    color: $black-color;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header__burger {
    display: none;
}

.nav {
    width: 450px;
    display: inline-flex;
    justify-content: space-between;

    font-weight: 600;
    font-size: 14px;
    line-height: 147.3%;
    letter-spacing: 0.115em;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
   
    position: relative;

    color: $black-color;
    text-decoration: none;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;

    background-color: $yellow-color;

    position: absolute;
    top: 105%;
    left: 0;
    z-index: 10;

    -webkit-transition: width .2s linear;
    -moz--transition: width .2s linear;
    transition: width .2s linear;
}

.nav__link:hover::after {
    width: 100%;
}

/************************************************************/
/************************** 1023 ****************************/
/************************************************************/
@media (max-width: 1023px) {
    .nav { width: 39%; font-size: 12px; }
}

/************************************************************/
/************************** 767 *****************************/
/************************************************************/
@media (max-width: 767px) {
    .header { height: 60px; }
    .link__toFeedback__header { display: none; }

    .header__burger {
        display: block;
        position: relative;
        width: 33px;
        height: 19px;
    }

    .header__burger span {
        background-color: $yellow-color;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8px;
        transition: all .3s ease 0s;
    }

    .header__burger::before, 
    .header__burger::after {
        content: '';
        background-color: $yellow-color;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__burger::before { top: 0; }
    .header__burger::after { bottom: 0; }

    .nav {
        display: block;
        position: fixed;
        top: 60px;
        left: 100%;
        width: $burger-nav-width;
        background-color: white;
        z-index: 1;
        transition: all .3s ease 0s;
        box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.2);

        font-size: 14px;
    }

    .nav.active { left: calc(100% - $burger-nav-width); }

    .nav__link { margin: 15px; }
    .nav__link:hover { background-color: $semi-color; }

    .header__burger.active::before { transform: rotate(45deg); top: 8px; }
    .header__burger.active::after { transform: rotate(-45deg); bottom: 8px; }
    .header__burger.active span { transform: scale(0); }

    body.lock { overflow: hidden; }
}