@import "vars";

.intro {
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);

    background: url("../images/intro_bgr.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__container {
    display: flex;
    height: 100%;
}

.intro__content {
    width: 55%;
    margin: auto -41px;
    color: $white-color;
    padding-left: 41px;
}

.info__main {
    letter-spacing: 0.03em;
    text-transform: uppercase;

    border-left: 8px solid $yellow-color;
    padding-left: 33px;
    margin-left: -41px;
}

.info__main strong {
    font-weight: 900;
    font-size: 40px;
}

.info__main span {
    font-weight: 500;
    font-size: 36px;
}

.info__description {
    display: block;
    margin-top: $intro-content-margin-top;

    font-weight: 500;
    font-size: 18px;
    line-height: 160.99%;
}

.block__toFeedback__intro {
    margin-top: 9%;
}

.inserts {
    position: absolute;
}

.intro__i1 {
    top: 14%;
    left: 58%;
}

.intro__i2 {
    top: 36%;
    left: 53%;
}

/************************************************************/
/************************** 1439 ****************************/
/************************************************************/
@media (max-width: 1439px) {
    .intro__content { margin: auto 0; }
    .info__main strong { font-size: 30px; }
    .info__main span { font-size: 27px; }
    .intro__i1 { top: 4vh; }
    .intro__i2 { top: 30vh; }
}

/************************************************************/
/************************** 1023 ****************************/
/************************************************************/
@media (max-width: 1023px) {
    .intro__i1 { display: none; }
    .intro__i2 { display: none; }
    .intro__content { width: 100%; padding-right: 41px; }
    .info__main strong { font-size: 40px; }
    .info__main span { font-size: 36px; }
}

/************************************************************/
/************************** 767 *****************************/
/************************************************************/
@media (max-width: 767px) {
    .intro { height: calc(100vh - 60px); }
    .intro__content { padding: 0; }
    .info__main { border: none; padding: 0; margin: 0; }

    .info__main::after {
        content: "";
        display: block;
        width: 158px;
        height: 3px;
        position: relative;
        top: 15px;
        background-color: $yellow-color;
    }

    .info__main strong { font-size: 24px; }
    .info__main span { font-size: 24px; }
    .info__description { font-size: 14px; }
    .block__toFeedback__intro { 
        width: 285px !important; 
        font-size: 14px;
    }
}

/************************************************************/
/************************** 424 *****************************/
/************************************************************/
@media (max-width: 424px) {
    .block__toFeedback__intro { width: 100% !important; }
}