.partners__inner {
    padding: 5% 0;
}

.brands {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
    padding-inline-start: 0;
}

.brands__item {
    display: inline-flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.brands__item img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

/************************************************************/
/************************** 1439 ****************************/
/************************************************************/
@media (max-width: 1439px) {
    .brands__item { width: 160px; }
}

/************************************************************/
/************************** 1023 ****************************/
/************************************************************/
@media (max-width: 1023px) {
    .brands__item { width: 100px; height: 100px; }
    .brands__item img { width: 100%; height: 100%; }
}

/************************************************************/
/************************** 767 *****************************/
/************************************************************/
@media (max-width: 767px) {
    .brands__item { width: 70px; height: 70px; }
}

/************************************************************/
/************************** 424 *****************************/
/************************************************************/
@media (max-width: 424px) {
    .brands__item { width: 60px; height: 60px; }
}

/************************************************************/
/************************** 374 *****************************/
/************************************************************/
@media (max-width: 374px) {
    .brands__item { width: 50px; height: 50px; }
}