$max-width-content: 1230px;

$background-color: #FFFFFF;

$yellow-color: #FFC700;
$white-color: #FFFFFF;
$black-color: #2C2C2C;
$super-black-color: #000000;

$dark-blue-color: #1E5472;

$section-name-color: #242424;
$section-description-color: #383838;

$catalog-item-list-color: #D3D3D3;

$about-description-thesis-main-color: #1C5E84;
$about-description-thesis-color: #737373;

$footer-background-color: #2F6680;

$semi-color: #868686;
$input-apply-text-color: #A7A7A7;

$final-info-color: #D8D8D8;
$final-info-color-alternate: #6A6A6A;
$final-info-background-color: #D1D1D1;

$intro-content-margin-top: 9%;
$burger-nav-width: 200px;