<footer class="footer">
    <div class="container footer__container">

        <div id="footer-inner" class="footer__inner">
            <div class="footer__contacts__wrapper">
                <div class="section__name footer__section__name">КОНТАКТЫ</div>

                <div class="contacts__container">
                    <div class="contacts__item">
                        <object class="svg__filling" type="image/svg+xml" data="../assets/images/icons/contacts_phone.svg">
                            <img src="../assets/images/icons/contacts_phone.svg">
                        </object>
                        <p>+7 920 317 12 67<br/>+7 921 752 49 74</p>
                    </div>

                    <div class="contacts__item">
                        <object class="svg__filling" type="image/svg+xml" data="../assets/images/icons/contacts_rus.svg">
                            <img src="../assets/images/icons/contacts_rus.svg">
                        </object>
                        <p>Работаем по всей стране</p>
                    </div>

                    <div class="contacts__item">
                        <object class="svg__filling" type="image/svg+xml" data="../assets/images/icons/contacts_mail.svg">
                            <img src="../assets/images/icons/contacts_mail.svg">
                        </object>
                        <p>srtsmol@mail.ru</p>
                    </div>

                    <div class="contacts__item">
                        <object class="svg__filling" type="image/svg+xml" data="../assets/images/icons/contacts_info.svg">
                            <img src="../assets/images/icons/contacts_info.svg">
                        </object>
                        <p>ООО “Авторесурс”</p>
                    </div>
                </div>
            </div>

            <form id="form-feedback" class="feedback__form" name="form-feedback">
                <div class="form__inner">
                    <h2 class="form__header">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h2>
                    <p class="form__description">Оставьте свои контакты и наш менеджер свяжется с Вами в ближайшее время.</p>
    
                    <div class="input__phone__wrapper">
                        <input type="text" name="phone" class="input__phone" placeholder="+7(999) 999-99-99">
                    </div>
                    
                    <p class="input__apply__text">Отправляя данные с любой формы сайта, Вы соглашаетесь на обработку данных, 
                        согласно ФЗ 152 в соответствие с политикой конфиденциальности.</p>
    
                    <div class="feedback__submit__wrapper">
                        <button type="submit" class="feedback__submit">ОТПРАВИТЬ</button>
                    </div> 
                </div>
    
                <canvas id="triangle" class="feedback__triangle">Triangle</canvas>
            </form>

        </div>
        
    </div>    
</footer>
