<footer class="footer">
    <div class="container">

        <div class="footer__resum__container">
            <div class="footer__resum__inner">

                <div class="footer__resum__item">
                    <img src="../assets/images/icons/footer_resum_1.svg">
                    <p>КОМПЛЕКСНЫЙ РЕМОНТ КОМПЛЕКТУЮЩИХ</p>
                </div>
                <div class="footer__resum__item">
                    <img src="../assets/images/icons/footer_resum_2.svg">
                    <p>ИСПЫТАНИЕ И ОБКАТКА НА СТЕНДЕ</p>
                </div>
                <div class="footer__resum__item">
                    <img src="../assets/images/icons/footer_resum_3.svg">
                    <p>ЗАМЕР ЛЮФТА МЕХАНИЗМОВ</p>
                </div>
                <div class="footer__resum__item">
                    <img src="../assets/images/icons/footer_resum_4.svg">
                    <p>РЕГУЛИРОВКА РУЛЕВЫХ МЕХАНИЗМОВ</p>
                </div>

            </div>
        </div>

        <div class="footer__inner">
            <div class="section__name footer__section__name">КОНТАКТЫ</div>

            <div class="contacts__container">
                <div class="contacts__item">
                    <div class="contacts__item__inner">
                        <img src="../assets/images/icons/contacts_phone.svg">
                        <p>+7 920 317 12 67<br/>+7 921 752 49 74</p>
                    </div>
                </div>

                <div class="contacts__item">
                    <div class="contacts__item__inner">
                        <img src="../assets/images/icons/contacts_rus.svg">
                        <p>Работаем по всей стране</p>
                    </div>
                </div>

                <div class="contacts__item">
                    <div class="contacts__item__inner">
                        <img src="../assets/images/icons/contacts_mail.svg">
                        <p>srtsmol@mail.ru</p>
                    </div>
                </div>

                <div class="contacts__item">
                    <div class="contacts__item__inner">
                        <img src="../assets/images/icons/contacts_info.svg">
                        <p>ООО “Авторесурс”</p>
                    </div>
                </div>
            </div>

        </div>

        <form id="form-feedback" class="feedback__form" name="form-feedback">
            <div class="form__inner">
                <h2 class="form__header">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h2>
                <p class="form__description">Оставьте свои контакты и наш менеджер свяжется с Вами в ближайшее время.</p>

                <div class="input__phone__wrapper">
                    <input type="text" class="input__phone" placeholder="+7(999) 999-99-99">
                </div>
                
                <p class="input__apply__text">Отправляя данные с любой формы сайта, Вы соглашаетесь на обработку данных, 
                    согласно ФЗ 152 в соответствие с политикой конфиденциальности.</p>

                <div class="feedback__submit__wrapper">
                    <button type="submit" class="feedback__submit">ОТПРАВИТЬ</button>
                </div> 
            </div>

            <canvas id="triangle" class="feedback__triangle" width="600px" height=100px>Triangle</canvas>
        </form>
        
    </div>    
</footer>
