<section class="galery">
    <div class="container">
        <div class="galery__inner">
            <img class="galery__item" src="../assets/images/galery/galery_1.jpg">
            <img class="galery__item" src="../assets/images/galery/galery_2.jpg">
            <img class="galery__item" src="../assets/images/galery/galery_3.jpg">
            <img class="galery__item" src="../assets/images/galery/galery_4.jpg">
            <img class="galery__item" src="../assets/images/galery/galery_5.jpg">
            <img class="galery__item" src="../assets/images/galery/galery_6.jpg">
        </div>
    </div>
</section>